.batteriesInfo {
	/* border: 2px solid black; */
	margin: 20px;
	padding: 20px;
	width: 10em;
	border-radius: 20px;
}

.batteriesCnt {
	text-align: center;
	font-size: 0.9rem;
}

.chargeBtn {
	width: 11em;
	display: block;
	margin: 0 auto;
	background-color: black;
	color: white;
	padding: 10px 25px;
	margin-top: 15px;
	border-radius: 20px;
	font-size: 0.9rem;
	font-weight: bold;
}
