.batteryComponent {
	width: 48%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #D1D5DB;
	justify-content: space-between;
	margin-top: 1em;
}

.info {
	display: flex;
	align-items: center;
}

.title {
	font-size: 18px;
	font-weight: bold;
}

.batteryIcon {
	margin: 10px;
	font-size: 24px;
}

.numOfBattery {
	margin: 10px;
	font-size: larger;
	font-weight: bold;
}

.costOfBattery {
	width: 20%;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: white;
	padding: 0.5em 0;
	background-color: #00C63C;
	border-radius: 5px;
	cursor: pointer;
}

.costOfBattery:hover {
	background-color: #00D000;
}