.block {
    width: 100%;
    height: 768px;
    display: flex;
}

.isModal {
    display: none;
}

@media screen and (max-width: 769px) {
    .isModal {
        display: block;
    }
}

.rightSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.topContainer {
    display: flex;
    flex-direction: row;
}

.arrow {
    margin: 8px 12px 0 0;
    color: black;
    cursor: pointer;
    border-radius: 12px;
}