.block {
    width: 100%;
    display: flex;
}

.isModal {
    display: none;
}

@media screen and (max-width: 768px) {
    .isModal {
        display: block;
    }
}

.rightSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #D1D5DB;
    position: relative;
}

.topContainer {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
}

.arrow {
    margin: 8px 12px 0 0;
    color: black;
    cursor: pointer;
    border-radius: 12px;
}

.outletContainer {
    height: 89vh;
    overflow-y: scroll;
    padding: 0;
}