.header {
	padding: 1rem;
	margin: 1rem;
	display: flex;
	align-items: center;
	width: 100%;
	height: 5rem;
	border: 3px solid #d1d5db;
	border-radius: 2rem;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profileImg {
	width: 6rem;
	height: 6rem;
}

.rightHeader {
	display: flex;
	margin-left: auto;
	align-items: center;
}

.rightHeader span {
	margin: 2rem;
}

.buyBattery {
	margin: 10px;
	display: flex;
	color: #d69d0b;
}

.buyBattery > div {
	margin: 0 0.2rem;
}

.help {
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.help > div {
	margin: 0 0.2rem;
}

.buyChatbot {
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.userInfo {
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.userInfo > div {
	margin: 0 0.2rem;
}

.profileInfo {
	margin: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1rem;
}

@media (max-width: 1100px) {
	.buyBatteryTxt,
	.helpTxt,
	.buyChatbotTxt,
	.userinfoTxt,
	.batteryinfo {
		display: none;
	}
}
