#buybattery {
	display: flex;
	flex-direction: column;
}

.headertab {
	display: flex;
	align-items: center;
	justify-content: center;
}

.batteriesContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.logoandtxt {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	margin-bottom: 3rem;
}

img {
	padding: 3rem;
	width: 8rem;
	height: 8rem;
}

.buybatterylist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.buybatterylist > div {
	flex: 1 1 30%;
	max-width: 25%;
	box-sizing: border-box;
	padding: 2rem;
}

@media (max-width: 834px) {
	.buybatterylist > div {
		flex: 1 1 50%;
		max-width: 40%;
	}
}

@media (max-width: 390px) {
	.buybatterylist > div {
		flex: 1 1 100%;
		max-width: 100%;
	}
}
