@keyframes FadeIn {
    0% {
        transform: translateX(-290px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes FadeOut {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-290px);
    }
}

@keyframes MobileFadeIn {
    0% {
        transform: translateX(-210px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes MobileFadeOut {
    0% {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-210px);
    }
}

.block {
    position: absolute;
    width: 280px;
    top: 0;
    bottom: 0;
    background-color: white;
    transform: translateX(-290px);
    z-index: 100;
}

.block_true {
    position: absolute;
    width: 280px;
    top: 0;
    bottom: 0;
    background-color: white;
    animation: FadeIn 0.2s forwards;
    z-index: 100;
}

.block_false {
    width: 280px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: white;
    animation: FadeOut 0.2s;
    transform: translateX(-290px);
    z-index: 100;
}

@media screen and (min-width: 769px) {
    .block {
        display: none;
    }

    .block_true {
        display: none;
    }

    .block_false {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .block {
        width: 200px;
        transform: translateX(-210px);
    }

    .block_true {
        width: 200px;
        animation: MobileFadeIn 0.2s;
    }

    .block_false {
        width: 200px;
        animation: MobileFadeOut 0.2s;
        transform: translateX(-210px);
    }
}

.arrowBlock {
    text-align: right;
    height: 5vh;
}

.arrow {
    margin: 8px 12px 0 0;
    color: black;
    cursor: pointer;
    border-radius: 12px;
}

.arrow:hover {
    background-color: rgba(233, 233, 233, 0.3);
}

.logo {
    height: 15vh;
}

.title {
    height: 5vh;
    text-align: center;
    font-weight: bold;
}

.content {
    height: 69vh;
    overflow-y: scroll;
}