@keyframes FadeIn {
    0% {
        width: 0;
        transform: translate3d(0, 0, 0);
    }
    to {
        width: 280px;
    }
}

@keyframes FadeOut {
    0% {
        width: 280px;
        transform: translate3d(0, 0, 0);
    }
    to {
        width: 0;
    }
}

.block {
    width: 280px;
    height: 100vh;
    background-color: white;
    box-shadow:  5px 5px 5px #c7c7c7,
    -5px -5px 5px #ffffff;
}

.block_true {
    width: 280px;
    height: 100vh;
    background-color: white;
    box-shadow:  5px 5px 5px #c7c7c7,
    -5px -5px 5px #ffffff;
    animation: FadeIn 0.2s;
}

.block_false {
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow:  5px 5px 5px #c7c7c7,
    -5px -5px 5px #ffffff;
    animation: FadeOut 0.2s;
}

.arrowBlock {
    text-align: right;
}

.arrow {
    margin: 8px 12px 0 0;
    color: black;
    cursor: pointer;
    border-radius: 12px;
}

.arrow:hover {
    background-color: rgba(233, 233, 233, 0.3);
}