.topcontainer {
	width: auto;
}

.name {
	margin: 30px 20px;
	font-weight: bold;
	font-size: 3rem;
}

.batteryPayedListLabel {
	margin: 30px 20px;
	font-weight: bold;
	font-size: 1.8rem;
}

.batteryPayedListIndex {
	background-color: black;
	color: white;
	margin: 10px 20px;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-around;
}

.batteryPayedList {
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.chatbotInfoLable {
	margin: 30px 20px;
	font-weight: bold;
	font-size: 1.8rem;
}
.chatbotInfoList {
	margin: 30px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chatBotPayedLabel {
	margin: 30px 20px;
	font-weight: bold;
	font-size: 1.8rem;
}

.chatBotPayedIndex {
	background-color: black;
	color: white;
	margin: 0 20px;
	display: flex;
	padding: 0.6rem;
	padding-left: 4rem;
	flex-direction: row;
	justify-content: space-around;
}

.chatBotPayedList {
	margin: 30px 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
