.topcontainer {
	display: flex;
}

.name {
	margin: 30px 20px;
	font-weight: bold;
	font-size: 3rem;
}

.batteryPayedListLabel {
	margin: 30px 20px;
	font-weight: bold;
	font-size: 1.8rem;
}
.batteryPayedList {
	margin: 30px 20px;
}

.chatbotInfoLable {
	margin: 30px 20px;
	font-weight: bold;
	font-size: 1.8rem;
}
.chatbotInfoList {
	margin: 30px 20px;
}

.chatBotPayedLabel {
	margin: 30px 20px;
	font-weight: bold;
	font-size: 1.8rem;
}

.chatBotPayedList {
	margin: 30px 20px;
}
